
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-image: url("background.jpg");
    background-position: center;
    background-size: cover;
}

canvas{
    border-width: 10px;
    border-color: black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 7px 7px 3px grey;
    
    

}